*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to bottom, #af67e9, #6565e7);
    background-repeat: no-repeat;
    display: flex;
    min-height: 100vh;
    flex-direction: column;   
    justify-content: center;
    align-items: center;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: .75rem;
    font-weight: 400;
    color: hsl(238, 29%, 16%); 
}

.card{
    position: relative;
    max-width: 80%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 30px;   
    margin-left: auto;
    margin-right: auto;
    margin-top: -12%;
    margin-bottom: 5%; 
    background-image: url(images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -35rem -1.8rem;
    box-shadow: 0 1px 25px 0 #4a4b5e;
}

.box{
    position: relative;
    top: 21rem;
    left: -34rem;
    width: 15%;
    z-index: 999;
}

.desktop{
    position: absolute;
    height: 55%;
    width: 35%;
    left: 7%; 
    top: 38%;
    display: block;
}

.mobile{
    display: none;
}

.list{
    font-size: 1.25rem;
    padding: 1rem;
}

hr{
    line-height: 2rem;
    color: #e7e7e9;
    border-top: .5px solid;
}

.answer{
    display: none;
    margin-top: 0.6rem;
    color: #444;
    font-size: .875rem;
    margin-bottom: 1rem;
}

.question{  
    font-size: 1rem;
    margin: 1.2rem auto 1.2rem auto;
    padding-right: 1rem;
}

.question:hover{
    color: #f47c57;
    cursor: pointer;
}

.down-arrow {
    height: 0.5rem;
    width: auto;
    transition: all 0.25s ease 0s;
    position: absolute;
    right: 1rem;
}

.attribution{
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1023px){
    .mobile{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        margin-top: -12%;
        align-items: center;
    }
    .desktop,.box{
        display: none;
    }
    .box{
        left: -30rem;
    }
    .card{
        margin-top: 10%;
    }
    h1{
        text-align: center;
    }
}

